* {
	box-sizing: border-box;
}

:root {
	--primary-color: #000958;
}

html {
	font-family: "Poppins", sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

text,
button,
input,
select {
	font-size: inherit;
	font-family: inherit;
}

/* Common */
.container {
	width: 1170px;
	max-width: calc(100% - 50px);
	margin-left: auto;
	margin-right: auto;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.logo-name {
	color: var(--primary-color);
	font-family: "Sora", sans-serif;
	font-size: 2.4rem;
	font-weight: 700;
}

a {
	text-decoration: none;
}

.btn {
	--height: 56px;

	min-width: 130px;
	display: inline-block;
	border-radius: 99px;
	border: 1px solid var(--primary-color);
	line-height: var(--height);
	height: var(--height);
	color: var(--primary-color);
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Sora", sans-serif;
}

/* Header */
.header {
	background: #fffaf5;
	padding: 26px 0;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__list {
	display: flex;
}

.header__link:hover,
.navbar-items:hover a {
	color: var(--primary-color);
	text-decoration: underline;
	text-shadow: 1px 0 0 currentColor;
}

.header__btn {
	display: flex;
	column-gap: 10px;
}

.header__link,
.navbar-items > a {
	color: #5e6085;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1;
	transition: all 0.3s;
	padding: 22px 18px;
}

.header__signup {
	--height: 50px;

	height: var(--height);
	min-width: 118px;
	transition: background-color 0.25s;
}

.header__signup:hover {
	background-color: var(--primary-color);
	color: #fff;
	cursor: pointer;
}
