* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fffaf5;
}

text,
button,
input,
select {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.logo-name {
    color: var(--primary-color);
    font-family: "Sora", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    min-width: 130px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    border: 1px solid var(--primary-color);
    line-height: var(--height);
    height: var(--height);
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    color: #fff !important;
    background-color: #ff5b2e !important;
    border-color: #ff5b2e !important;
}

.btn__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Sora", sans-serif;
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}
/* Header */
.header {
    background: #fffaf5;
    padding: 26px 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header__link:hover,
.navbar-items:hover a {
    color: var(--primary-color);
    text-decoration: underline;
    text-shadow: 1px 0 0 currentColor;
}

.header__btn {
    display: flex;
    column-gap: 10px;
}

.header__link,
.navbar-items > a {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    transition: all 0.3s;
    padding: 22px 18px;
}

.header__signup {
    --height: 50px;

    height: var(--height);
    min-width: 118px;
    transition: background-color 0.25s;
}

.header__signup:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* Hero */
.hero {
    padding-top: 74px;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
}

.hero__image {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img-wrap-small {
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border-color: #fde0e2;
}

.hero__img-1 {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__img-2 {
    max-width: 100%;
    max-height: 100%;
}

.hero__icon-1 {
    position: absolute;
    top: 16px;
    right: -42px;
    z-index: -1;
}

.hero__icon-2 {
    position: absolute;
    left: -58px;
    bottom: 10px;
    z-index: -1;
}

.hero-box {
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    position: absolute;
    bottom: 0;
    left: 129px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-box__row {
    display: flex;
}

.hero-box-list {
    margin-left: 10px;
}

.hero-box__img-1,
.hero-box__img-2 {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
    transition: all 0.25s;
}

.hero-box__img-1:hover {
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 21px 0px #fec23f;
}

.hero-box__img-2:hover {
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 21px 0px #6597c2;
}

.hero-box__name {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-box__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-separated {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
    border-radius: 99px;
}

.hero__heading {
    margin-bottom: 24px;
    width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.25;
}

.hero__desc {
    width: 391px;
}

.hero-btn__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-btn {
    --height: 60px;

    line-height: var(--height);
    width: 189px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    transition: box-shadow 0.5s;
}

.hero-btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.5);
}

.btn-call {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.btn-call:hover {
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 77px;
    padding: 53px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__others {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 36px 34px;
    justify-content: flex-start;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 4px;
    content: url(./img/Vector.svg);
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}

.about__card-icon {
    position: absolute;
    top: -40px;
    right: -30px;
}

.about__image {
    width: 494px;
    position: relative;
    margin-left: auto;
}

.about__image::after {
    height: 336px;
    z-index: -1;
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    display: inline-block;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__icon {
    z-index: -1;
    position: absolute;
    top: 157px;
    right: 0;
}

.about__image-body {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-body {
    width: 100%;
    display: block;
}

.about__icon-body-01 {
    position: absolute;
    top: 268px;
    right: -33px;
}

.about__icon-body-02 {
    position: absolute;
    top: 33px;
    right: -21px;
}
.about__icon-body-03 {
    position: absolute;
    top: -16px;
    right: 13px;
}
.about__icon-body-04 {
    position: absolute;
    bottom: -46px;
    right: -52px;
}

.about__icon-body-05 {
    position: absolute;
    top: 13px;
    right: 64px;
}

.about__icon-body-06 {
    position: absolute;
    bottom: 150px;
    right: 20px;
}

.about__desc-1 {
    margin-top: 24px;
    width: 511px;
}

.about__tab--list {
    padding-top: 52px;
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.about__tab--items {
    position: relative;
    align-items: center;
    display: flex;
    column-gap: 11px;
    cursor: pointer;
    padding-bottom: 14px;
}

.about__tab--items--active::after,
.about__link::after,
.about__tab--list::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 1px;
}

.about__tab--items--active::after {
    opacity: 1;
}

.about__tab-img {
    width: 24px;
}

.about__tab-desc {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.about__tab--more {
    display: none;
    padding: 36px 0;
}

.about__more--active {
    display: block;
}

.about__details {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.about__link {
    position: relative;
    color: #656689;
    display: inline-block;
    margin-top: 32px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #ff5d31;
    padding-bottom: 5px;
}

.about__link::after {
    height: 1.5px;
    opacity: 1;
}

/* Service */
.service {
    margin-top: 130px;
    background: #fff6ed;
    padding: 68px 0 100px;
}

.service__top {
    text-align: center;
}

.service__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.service-box {
    width: 294px;
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-box + .service-box {
    margin-top: 24px;
}

.service-box__title {
    position: relative;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 12px;
}

.service-box__title::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -12px;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 1px;
}

.service-box__desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service-box__link {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.service-box__link::after {
    content: url(../assets/icon/ArrowUpRight.svg);
    margin: 2px 0 0 4px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.service__cta {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__media-link {
    min-width: 214px;
    border-radius: 31px;
    color: #ff5b2e;
    border-color: currentColor;
    transition: all 0.5s;
}

.staff__cta:hover,
.service__media-link:hover {
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Staff */
.staff {
    margin-top: 130px;
}

.staff__top {
    text-align: center;
}

.staff__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__body {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff__media {
    position: relative;
    text-align: center;
}

.staff__image {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff__image::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: inherit;
}

.staff__image::after {
    content: "";
    position: absolute;
    width: calc(100% + 36px);
    height: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff__media:nth-child(1) .staff__image::after {
    background-image: url(../assets/icon/staff-icon-01.svg);
}

.staff__media:nth-child(2) .staff__image::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__media:nth-child(2) .staff__image::after {
    background-image: url(../assets/icon/staff-icon-02.svg);
}

.staff__media:nth-child(3) .staff__image::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__media:nth-child(3) .staff__image::after {
    background-image: url(../assets/icon/staff-icon-03.svg);
}

.staff__media:nth-child(4) .staff__image::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__media:nth-child(4) .staff__image::after {
    background-image: url(../assets/icon/staff-icon-04.svg);
}

.staff__media:nth-child(even) .staff__image::after {
    background-position: 0 16px;
}

.staff__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}

.staff__detail {
    margin-top: 30px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff__name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__cta--wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff__cta {
    min-width: 193px;
    color: #ff5b2e;
    transition: all 0.5s;
    border-color: currentColor;
}

/* Pricing */
.pricing {
    margin-top: 130px;
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    margin: 24px auto 0;
    width: 709px;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 99px;
    border: 1px solid #ff5b2e99;
    user-select: none;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 146px;
    height: 100%;
    background: #ff5b2e;
    border-radius: inherit;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.pricing__switch-input:checked ~ .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__switch-input:checked
    ~ .pricing__switch-label
    .pricing__switch-value:nth-child(1),
.pricing__switch-input:not(:checked)
    ~ .pricing__switch-label
    .pricing__switch-value:nth-child(2) {
    color: #ff5b2e;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.pricing-item {
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px 32px;
}

.pricing-item--active {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    display: block;
    margin-top: 24px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1;
}

.pricing-item__btn {
    margin-top: 22px;
    width: 100%;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    background: transparent;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4re;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__item::before {
    margin-right: 12px;
    content: url(../assets/icon/pricing-check.svg);
}

/* Review */
.review {
    padding: 53px 0;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 70px;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    background: transparent;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    color: #ff5b2e;
    transition: all 0.25s;
}

.review__control:hover {
    background: #ff5b2e;
    color: #fff;
    border-color: #ff5b2e;
    box-shadow: 0px 5px 27px 0px rgba(255, 91, 46, 0.3);
}

.review-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 115px;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
}

.review-item__media::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: #ffda54;
    border-radius: 137px;
}

.review-item__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    border-radius: 137px;
}

.review-item__content {
    width: 553px;
}

.review-item__quote {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
}

.review-items__author {
    position: relative;
    margin: 34px 0 0 28px;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review-items__author::before {
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
}

.review__dot-active {
    width: 24px;
    background: #ff5b2e;
    border-radius: 99px;
}

/* Blog */
.blog {
    margin-top: 77px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__desc {
    width: 350px;
}

.blog__right {
    margin-right: 93px;
}

.blog__btn {
    min-width: 182px;
    margin-top: 24px;
    color: #ff5b2e;
    border: 1px solid #ff5b2e99;
    transition: all 0.25s;
}

.blog__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog-items__media {
    position: relative;
    padding: 24px 36px 0;
    border-radius: 24px;
    background: #90ccff;
    height: 362px;
}

.blog-items:nth-child(2) > .blog-items__media {
    background: #ff997e;
}

.blog-items:nth-child(3) > .blog-items__media {
    background: #5bd6e2;
}

.blog-items__date {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
}

.blog-items__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 322px;
}

.blog-items__body {
    padding-top: 28px;
}

.blog-items__heading {
    width: 338px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
}

.blog-items__desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

/* Footer */
.footer {
    margin-top: 130px;
    background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__form {
    width: 42%;
    padding: 114px 0 148px;
}

.footer__logo {
    justify-content: flex-start;
}

.footer__sign {
    position: relative;
    margin-top: 40px;
    display: inline-block;
}

.footer__email {
    min-width: 268px;
    padding: 11px 10px;
    outline: none;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
}
.footer__email::placeholder {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16;
    opacity: 0.8;
}

.footer__submit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5b2e;
    width: 45px;
    height: 46px;
    border-radius: 50%;
    border-color: #ff5b2e;
    outline: #ff5b2e;
    border: none;
}

.footer-social {
    margin-top: 68px;
}

.footer-social__follow {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
}

.footer-social__list {
    margin-top: 16px;
    display: flex;
    column-gap: 16px;
}

.footer-social__list > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
}

.footer__content {
    padding: 52px 0 48px 0;
    flex: 1;
}

.footer__info {
    margin-left: 129px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}

.footer-info__title {
    margin-bottom: 14px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
}

.footer-item__link {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
}

.footer__copyright {
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16;
    margin: 52px 0 0 22px;
    opacity: 0.5;
}
